.footer p {
    font-size: 1.1rem;
}

/* ei css file ta header ta ke kibhabe access kortase? oi header js er sathe to ar eitar connection nai. ar connection na thakle to css kaj o kore na eita to dekhlam e */
/* .navbar li a {
    display: none;
} */

/* eita dile shob update hoy keno? */
/* div p {
    font-size: 2rem;
} */